/* Reset default margin and padding */
body {
  margin: 0;
  padding: 0;
}

/* Global font and spacing */
body,
input,
button {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  letter-spacing: 0.5px;
}

/* CHAT STYLES */
* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  letter-spacing: 0.5px;
}

.ce-chat-list {
  background-color: rgb(240, 240, 240) !important;
}

.ce-chats-container {
  background-color: rgb(240, 240, 240) !important;
}

.ce-active-chat-card {
  background-color: #cabcdc !important;
  border: 4px solid #cabcdc !important;
  border-radius: 0px !important;
}

.ce-chat-subtitle-text {
  color: #595959 !important;
}

.ce-chat-form-container {
  padding-bottom: 20px !important;
}

.ce-text-input {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
}

.ce-primary-button {
  border-radius: 6px !important;
  background-color: #7554a0 !important;
  position: relative;
  bottom: 1px;
}

.ce-danger-button {
  background-color: white !important;
  border-radius: 22px !important;
}

.ce-settings {
  background-color: rgb(240, 240, 240) !important;
}

.ce-autocomplete-input {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
}

.ce-autocomplete-options {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
  background-color: white !important;
}

.ce-chat-settings-container {
  padding-top: 12px !important;
}

.ce-chat-avatars-row {
  display: none !important;
}



/* ChatFeed styles */
.chat-title-container {
  width: calc(100% - 36px);
  padding: 18px 0;
  /* Adjust top and bottom padding */
  text-align: center;
}

.chat-title {
  color: #7554a0;
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 8px;
  /* Add spacing below the title */
}

.chat-subtitle {
  color: #7554a0;
  font-weight: 600;
  font-size: 14px;
  /* Adjust font size */
  opacity: 0.7;
  /* Lower the opacity for a subtle effect */
  margin-bottom: 12px;
  /* Add spacing below the subtitle */
}

/* Improve message block layout */
.message-block {
  width: 100%;
  display: inline-block;
}


/* Style read receipts */
.read-receipts {
  position: relative;
  bottom: 6px;
}

.read-receipt {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  margin: 1.5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}

.chat-feed {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: rgb(240, 240, 240);
}






.message-form-container {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 36px);
  padding: 18px;
  background-color: rgb(240, 240, 240);
}




/* LoginForm styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62, 5%;
}

.wrapper {
  height: 100vh;
  background: linear-gradient(90deg, rgba(117, 84, 160, 1), rgba(0, 212, 255, 1));
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #7554a0;
  margin-bottom: 20px;
  font-size: 1.8em;
  /* Adjust title font size */
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  font-size: 1.1em;
  /* Adjust input font size */
}

.button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #7554a0;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.1em;
  /* Adjust button font size */
}

.button:hover {
  background-color: #563d7c;
}

/* Add animation to button span */
.button span {
  /* cursor: pointer; */
  display: inline-block;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:hover span {
  padding-right: 25px;
}

.error-message {
  color: #ff4d4f;
  /* Red color for error message */
  font-size: 1em;
  margin-top: 10px;
  text-align: center;
  /* You can add more styles here to make the error message stand out */
}


/* MessageForm styles */

.message-form {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #3b2a50;
  background-color: white;
  padding: 6px;
}

.message-input {
  flex: 1;
  height: 100%;
  width: calc(100% - 132px);
  padding: 12px;
  border: none;
  outline: none;
  font-size: 15px;
}

.image-button {
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-icon {
  top: 1px;
  position: relative;
  font-size: 20px;
}

.send-button {
  height: 100%;
  background-color: white;
  border: none;
  padding: 0 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.send-icon {
  font-size: 18px;
  color: rgb(11, 0, 0);
}



/* MyMessage styles */

.message {
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 12px;
  max-width: 70%;
  word-wrap: break-word;
  /* Wrap long messages */
  background-color: #CABCDC;
  color: #000;
  /* Change text color */
}

/* .message-image {
  border-radius: 12px;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  clear: both;
  margin-bottom: 5px;
} */

.message-image {
  border-radius: 12px;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  margin-left: 4px;
}


/* TheirMessage styles */
.message-row {
  float: left;
  width: 100%;
  display: flex;
  margin-left: 18px;
}

.message-avatar {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
}